.hover {
  background:green;
  color:white;
  padding:15px;
}

.hover:hover {
  background:darkgreen;  
  transform:scale(1.2);   
}

.options {
  display: none;        
  background: grey;     
  padding: 4px;         
}

.dropdown:hover .options {
  display: block;      
}

.options a {
  display: block;       
  padding: 5px;        
  color: black;
}
